* {
  margin: 0;
  padding: 0;
}

div {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.first {
  background-color: #C3BEE1;
}

.second {
  background-color: #D7BDE2;
}

.third {
  background-color: #AF7AC5;
}

.four {
  background-color: #884EA0;
}

.hideme {
opacity: 0;
font-size: 50px;
padding-top: 300px;
}
